@import "tailwindcss";

@theme {
  --color-brown: #bd5003;
  --color-dark-brown: #aa0503;
  --font-heading: var(--font-heading), serif;
  --font-body: var(--font-body), sans-serif;
}

:root {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body), sans-serif;
}

@theme inline {
  --font-sans: var(--font-heading);
  --font-serif: var(--font-bon-vivant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: #171717;
  font-family: var(--font-serif), sans-serif;
}

h1,
h2,
h3,
.hero-heading {
  font-family: var(--font-sans), serif;
}
