@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-brown: #bd5003;
  --brand-dark-brown: #aa0503;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@theme {
  --color-brown: #bd5003;
  --color-dark-brown: #aa0503;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
